webpack-cli 3.3.11

Usage: webpack-cli [options]
       webpack-cli [options] --entry <entry> --output <output>
       webpack-cli [options] <entries...> --output <output>
       webpack-cli <command> [options]

For more information, see https://webpack.js.org/api/cli/.

Config options:
  --config               Path to the config file
                          [瀛楃涓瞉 [榛樿鍊? webpack.config.js or webpackfile.js]
  --config-register, -r  Preload one or more modules before loading the webpack
                         configuration        [鏁扮粍] [榛樿鍊? module id or path]
  --config-name          Name of the config to use                      [瀛楃涓瞉
  --env                  Environment passed to the config, when it is a function
  --mode                 Enable production optimizations or development hints.
                                   [鍙€夊€? "development", "production", "none"]

Basic options:
  --context    The base directory (absolute path!) for resolving the `entry`
               option. If `output.pathinfo` is set, the included pathinfo is
               shortened to this directory.
                                        [瀛楃涓瞉 [榛樿鍊? The current directory]
  --entry      The entry point(s) of the compilation.                   [瀛楃涓瞉
  --no-cache   Disables cached builds                                     [甯冨皵]
  --watch, -w  Enter watch mode, which rebuilds on file change.           [甯冨皵]
  --debug      Switch loaders to debug mode                               [甯冨皵]
  --devtool    A developer tool to enhance debugging.                   [瀛楃涓瞉
  -d           shortcut for --debug --devtool eval-cheap-module-source-map
               --output-pathinfo                                          [甯冨皵]
  -p           shortcut for --optimize-minimize --define
               process.env.NODE_ENV="production"                          [甯冨皵]
  --progress   Print compilation progress in percentage                   [甯冨皵]

Module options:
  --module-bind       Bind an extension to a loader                     [瀛楃涓瞉
  --module-bind-post  Bind an extension to a post loader                [瀛楃涓瞉
  --module-bind-pre   Bind an extension to a pre loader                 [瀛楃涓瞉

Output options:
  --output, -o                  The output path and file for compilation assets
  --output-path                 The output directory as **absolute path**
                                (required).
                                        [瀛楃涓瞉 [榛樿鍊? The current directory]
  --output-filename             Specifies the name of each output file on disk.
                                You must **not** specify an absolute path here!
                                The `output.path` option determines the location
                                on disk the files are written to, filename is
                                used solely for naming the individual files.
                                                    [瀛楃涓瞉 [榛樿鍊? [name].js]
  --output-chunk-filename       The filename of non-entry chunks as relative
                                path inside the `output.path` directory.
        [瀛楃涓瞉 [榛樿鍊? filename with [id] instead of [name] or [id] prefixed]
  --output-source-map-filename  The filename of the SourceMaps for the
                                JavaScript files. They are inside the
                                `output.path` directory.                [瀛楃涓瞉
  --output-public-path          The `publicPath` specifies the public URL
                                address of the output files when referenced in a
                                browser.                                [瀛楃涓瞉
  --output-jsonp-function       The JSONP function used by webpack for async
                                loading of chunks.                      [瀛楃涓瞉
  --output-pathinfo             Include comments with information about the
                                modules.                                  [甯冨皵]
  --output-library              Expose the exports of the entry point as library
                                                                          [鏁扮粍]
  --output-library-target       Type of library
          [瀛楃涓瞉 [鍙€夊€? "var", "assign", "this", "window", "self", "global",
      "commonjs", "commonjs2", "commonjs-module", "amd", "umd", "umd2", "jsonp"]

Advanced options:
  --records-input-path       Store compiler state to a json file.       [瀛楃涓瞉
  --records-output-path      Load compiler state from a json file.      [瀛楃涓瞉
  --records-path             Store/Load compiler state from/to a json file. This
                             will result in persistent ids of modules and
                             chunks. An absolute path is expected. `recordsPath`
                             is used for `recordsInputPath` and
                             `recordsOutputPath` if they left undefined.[瀛楃涓瞉
  --define                   Define any free var in the bundle          [瀛楃涓瞉
  --target                   Environment to build for                   [瀛楃涓瞉
  --cache                    Cache generated modules and chunks to improve
                             performance for multiple incremental builds.
                          [甯冨皵] [榛樿鍊? It's enabled by default when watching]
  --watch-stdin, --stdin     Stop watching when stdin stream has ended    [甯冨皵]
  --watch-aggregate-timeout  Delay the rebuilt after the first change. Value is
                             a time in ms.                                [鏁板瓧]
  --watch-poll               Enable polling mode for watching           [瀛楃涓瞉
  --hot                      Enables Hot Module Replacement               [甯冨皵]
  --prefetch                 Prefetch this request (Example: --prefetch
                             ./file.js)                                 [瀛楃涓瞉
  --provide                  Provide these modules as free vars in all modules
                             (Example: --provide jQuery=jquery)         [瀛楃涓瞉
  --labeled-modules          Enables labeled modules                      [甯冨皵]
  --plugin                   Load this plugin                           [瀛楃涓瞉
  --bail                     Report the first error as a hard error instead of
                             tolerating it.                [甯冨皵] [榛樿鍊? null]
  --profile                  Capture timing information for each module.
                                                           [甯冨皵] [榛樿鍊? null]

Resolving options:
  --resolve-alias         Redirect module requests                      [瀛楃涓瞉
  --resolve-extensions    Redirect module requests                        [鏁扮粍]
  --resolve-loader-alias  Setup a loader alias for resolving            [瀛楃涓瞉

Optimizing options:
  --optimize-max-chunks      Try to keep the chunk count below a limit
  --optimize-min-chunk-size  Minimal size for the created chunk
  --optimize-minimize        Enable minimizing the output. Uses
                             optimization.minimizer.                      [甯冨皵]

Stats options:
  --color, --colors               Force colors on the console
                                               [甯冨皵] [榛樿鍊? (supports-color)]
  --no-color, --no-colors         Force no colors on the console          [甯冨皵]
  --sort-modules-by               Sorts the modules list by property in module
                                                                        [瀛楃涓瞉
  --sort-chunks-by                Sorts the chunks list by property in chunk
                                                                        [瀛楃涓瞉
  --sort-assets-by                Sorts the assets list by property in asset
                                                                        [瀛楃涓瞉
  --hide-modules                  Hides info about modules                [甯冨皵]
  --display-exclude               Exclude modules in the output         [瀛楃涓瞉
  --display-modules               Display even excluded modules in the output
                                                                          [甯冨皵]
  --display-max-modules           Sets the maximum number of visible modules in
                                  output                                  [鏁板瓧]
  --display-chunks                Display chunks in the output            [甯冨皵]
  --display-entrypoints           Display entry points in the output      [甯冨皵]
  --display-origins               Display origins of chunks in the output [甯冨皵]
  --display-cached                Display also cached modules in the output
                                                                          [甯冨皵]
  --display-cached-assets         Display also cached assets in the output[甯冨皵]
  --display-reasons               Display reasons about module inclusion in the
                                  output                                  [甯冨皵]
  --display-depth                 Display distance from entry point for each
                                  module                                  [甯冨皵]
  --display-used-exports          Display information about used exports in
                                  modules (Tree Shaking)                  [甯冨皵]
  --display-provided-exports      Display information about exports provided
                                  from modules                            [甯冨皵]
  --display-optimization-bailout  Display information about why optimization
                                  bailed out for modules                  [甯冨皵]
  --display-error-details         Display details about errors            [甯冨皵]
  --display                       Select display preset
               [瀛楃涓瞉 [鍙€夊€? "", "verbose", "detailed", "normal", "minimal",
                                                          "errors-only", "none"]
  --verbose                       Show more details                       [甯冨皵]
  --info-verbosity                Controls the output of lifecycle messaging
                                  e.g. Started watching files...
                   [瀛楃涓瞉 [鍙€夊€? "none", "info", "verbose"] [榛樿鍊? "info"]
  --build-delimiter               Display custom text after build output[瀛楃涓瞉

閫夐」锛?  --help, -h     鏄剧ず甯姪淇℃伅                                             [甯冨皵]
  --version, -v  鏄剧ず鐗堟湰鍙?                                              [甯冨皵]
  --silent       Prevent output from being displayed in stdout            [甯冨皵]
  --json, -j     Prints the result as JSON.                               [甯冨皵]
